* {
    padding: 0;
    margin: 0;
    font-size: 1rem;
    font-family: 'Mukta', sans-serif;
}

:root {
    --white: #FAFAFF;
    --black: #333333;
    background-color: var(--white);
    color: var(--black);
}

h2 {
    font-size: 3.5rem;

}
div h2:nth-of-type(1) {
    font-size: 1.5rem;
    opacity: 0.7;
}

.topbar {
    display: flex;
    width: 100vw;
    height: 5rem;
    justify-content: space-between;
    align-items: center;
    background-color: #1D1E2C;
}

.logo {
    font-family: 'Monoton', cursive;
    font-size: 2.5rem;
    color: var(--white);
    padding-left: 1.5rem;
    text-decoration: none;
}

nav a {
    padding-right: 1.2rem;
    color: var(--white);
    text-decoration: none;
    font-size: 1.2rem;
}

nav a:hover {
    text-decoration: underline;
}

section {
    height: 100vh;
}

.content {
    position: relative;
    margin: 0 10% 0 10%;
}

.container {
    position: absolute;
    top: 5%;
    text-align: center;
}

ul {
    list-style: none;
}

.profile-pic {
    border-radius: 50%;
    width: 20%;
    height: 20%;
    margin-bottom: 1rem;
}