:root {
    --white: #FAFAFF;
    --black: #333333;
    --lightBg: #FFFAE2;
    --lightNav: #364763;
    --mainFont: 'Roboto Mono', monospace;;
    background-color: var(--lightBg);
    color: var(--black);
    height: 100vh;
    max-width: 100vw;
}

* {
    padding: 0;
    margin: 0;
    font-size: 0.8rem;
    box-sizing: border-box;
    font-family: var(--mainFont);
}

/* Media queries */
/* ************ */



@media only screen and (max-width: 410px) and (max-height: 800px) {
    * {
        font-size: 0.7rem;
    }
}


/* Header elements */
/* *************** */

.topbar {
    display: flex;
    width: 100%;
    max-height: 5rem;
    justify-content: space-between;
    align-items: center;
    background-color: var(--lightNav);
}

.logo {
    font-family: 'Monoton', cursive;
    font-size: 2.5rem;
    color: var(--white);
    padding: 0 1.5rem;
    text-decoration: none;
}

nav a {
    padding: 1.2rem;
    color: var(--white);
    text-decoration: none;
    font-size: 1.2rem;
}

nav a:hover {
    background-color: var(--white);
    color: var(--black);
}

.david {
    line-height: 3.6rem;
    padding-bottom: 2rem;
}

h2 {
    font-size: 3.5rem;
    text-align: center;
}

#hello {
    font-size: 1.5rem;
    opacity: 0.7;
}


/* Content area */
/* ************ */
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.content {
    margin: 0 10% 0 10%;
    height: calc(100vh - 3.9rem);
}

.content-grid {
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.wrapper {
    padding-top: 3rem;
    width: 100%;
    flex: 1 0 auto;
}

.subtitle {
    font-size: 1rem;
    font-style: italic;
}

.profile-pic {
    border-radius: 50%;
    width: 18rem;
    height: auto;
    margin-bottom: 2rem;
}

#intro {
    width: 50%;
    font-size: 1.3rem;
    text-align: center;
}

@media only screen and (max-width: 800px), (max-height: 670px) {
    #intro {
        font-size: 1.15rem;
        width: 80%;
    }
}

@media screen and (max-width: 500px) {
    .profile-pic {
        width: 16rem;
    }
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    width: 100%;
    text-align: center;
    margin-top: 2rem;
}

form label, input, textarea {
    display: block;
    width: 70%;
    margin: 0.2rem auto;
}

@media only screen and (max-width: 700px) {
    form label, input, textarea {
        width: 90%;
    }
    
} 

form input, textarea {
    background-color: var(--lightBg);
    border: 1px solid rgba(51,51,51,0.5);
    border-radius: 5px;
    resize: none;
    padding: 0.5rem;
}

textarea {
    min-height: 10rem;
}

input:hover, textarea:hover {
    border-color: var(--lightNav);
}

.btnbox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 20rem;
    margin-top: 2rem;
}

.btn {
    padding: 0.3rem;
    display: inline-block;
    min-width: 44px;
    min-height: 44px; 
    width: 33%;
    font-size: 0.8rem;
    border: none;
    border-radius: 1rem;
    color: var(--white);
}

.btn-submit {
    background-color: var(--lightNav);
    overflow: hidden;
    position: relative;
}

.btn-reset {
    background-color: #CC4449;
    overflow: hidden;
    position: relative;
}

.btn-submit:hover, .btn-submit:focus {
    background-color:#252e3d;
    cursor: pointer;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.btn-reset:hover, .btn-reset:focus {
    background-color: #AB181D;
    cursor: pointer;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

/* Footer area */
/* ************ */

footer a {
    margin: 0.5rem;
}

.social-bar {
    display: flex;
    justify-content: flex-end;
    padding: 2rem;
    flex-shrink: 0  ;
}

.social-icon {
    margin: 0.3rem;
    font-size: 3rem;
    color: var(--black);
}

.social-icon:hover {
    transform: scale(1.5);
}