:root {
    --white: #FAFAFF;
    --black: #333333;
    --lightBg: #FFFAE2;
    --lightNav: #364763;
    --mainFont: 'Mukta', sans-serif;
    background-color: var(--lightBg);
    color: var(--black);
    font-family: var(--mainFont);
    max-height: 100vh;
}

* {
    padding: 0;
    margin: 0;
    font-size: 0.9rem;
    box-sizing: border-box;
}


/* Media queries */
/* ************ */

/* @media only screen and (max-width: 2000px) {
    * {
        font-size: 1.2rem;
    }
    
}

@media only screen and (max-width: 800px) {
    * {
        font-size: 1rem;
    }
    
} */

@media only screen and (max-width: 600px) {
    * {
        font-size: 0.8rem;
    }

}

@media only screen and (max-width: 410px) and (max-height: 800px) {
    * {
        font-size: 0.6rem;
    }
    
}


/* Header elements */
/* *************** */

.topbar {
    display: flex;
    box-sizing: content-box;
    width: 100vw;
    height: 5rem;
    justify-content: space-between;
    align-items: center;
    background-color: var(--lightNav);
}

.logo {
    font-family: 'Monoton', cursive;
    font-size: 2.5rem;
    color: var(--white);
    padding-left: 1.5rem;
    text-decoration: none;
}

nav a {
    padding-right: 1.2rem;
    color: var(--white);
    text-decoration: none;
    font-size: 1.2rem;
}

nav a:hover {
    text-decoration: underline;
}

h2 {
    font-size: 3.5rem;
    text-align: center;
    line-height: 3.6rem;
    padding-bottom: 2rem;
}

#hello {
    font-size: 1.5rem;
    opacity: 0.7;
}


/* Content area */
/* ************ */

.content {
    box-sizing: content-box;
    margin: 0 10% 0 10%;
    height: calc(100vh - 5rem);
}

#landing {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
}

.profile-pic {
    border-radius: 50%;
    width: 14rem;
    height: 14rem;
    margin-bottom: 2rem;
}

#intro {
    padding: 0 2rem 3rem 2rem;
    font-size: 1.3rem;
    text-align: center;
}

.line {
    border-bottom: 1px solid var(--black);
}


/* Footer area */
/* ************ */

footer a {
    margin: 0.5rem;
}

.social-bar {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.social-icon {
    width: 3rem;
}